{% extends "accueil.html.twig" %}
{% block titreHeader %}
    <title>{{ vetement.nom }} {{ vetement.marque.nom }}</title>
{% endblock %}
{% block titrePage %}
    <h1 class="titre">Détail {{ vetement.nom }} {{ vetement.marque.nom }}</h1>
{% endblock %}
{% block body %}
    <div class="center-container">
        <div class="detail-container">
            <img src="{{ vetement.lien }}" alt="{{ vetement.nom }} {{ vetement.marque.nom }}">
            <div class="info-container">
                <div class="labP">
                    <label>Type de vetement:</label>
                    <p>{{ vetement.nom }}</p>
                </div>
                <div class="labP">
                    <label>Marque:</label>
                    <p>{{ vetement.marque.nom }}</p>
                </div>
                <div>
                    <label>Taille disponible:</label>
                    {% for taille in vetement.taille %}
                        <p>{{ taille.nom }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="additional-images">
            <a href="{{ path("suppressionVetement", {"id": vetement.id}) }}">
                <img src="{{ asset("images/suppression.svg") }}" alt="Supprimer">
            </a>
            <a href="{{ path("modificationVetement", {"id": vetement.id}) }}">
                <img src="{{ asset("images/modification.png") }}" alt="Modifier">
            </a>
        </div>
    </div>
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        .detail-container {
            display: flex;
            align-items: center; /* Aligne verticalement au milieu */
        }

        .detail-container img {
            max-width: 600px;
            margin-right: 20px;
        }

        .info-container {
            display: flex;
            flex-direction: column;
        }

        .info-container div {
            margin-bottom: 20px;
        }

        .info-container label {
            font-weight: bold;
            margin-right: 10px;
        }

        .labP {
            display: flex;
            align-items: center;
        }

        .labP p {
            margin: 0;
        }

        .additional-images {
            display: flex;
            margin-top: 20px;
            margin-right: 170px;
        }

        .additional-images img {
            max-width: 70px;
            margin-right: 10px;
            padding: 20px;
            padding-left: 40px;
            padding-right: 40px;
        }
    </style>
{% endblock %}